.heading{
    width: 100%;
    
}

#bgImg{
    width: 100%;
}

#btnStart, #status{
    font-size: 25px;
}

.instructionImage{
    display: inline-block;
    width: 60%;
}

video{
    background: url("game_console.png");
    background-size: cover; 
    background-position: center;
    padding: 23px;
}