body {
    font-family: Arial, sans-serif;
    background-size: cover;
}

h3 {
    margin-top: 20px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
}

.sticky-footer p {
    margin: 0;
    color: #555;
    font-weight: bold;
}

.modal-header {
    background-color: #5cb85c;
    color: white;
    border-bottom: 2px solid #4cae4c;
}

.modal-content {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal-body {
    padding: 20px;
    font-size: 16px;
}

.btn-warning, .btn-success, .btn-info {
    margin: 5px;
}

button.close {
    background-color: transparent;
    border: 0;
    font-size: 24px;
    color: white;
    float: right;
}

/* Estilizar o canvas p5.js */
canvas {
    border: 3px solid #000;
    display: block;
    margin: 0 auto;
}